html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: linear-gradient(to bottom right, #444444, #009a5b);
}

canvas {
  position: absolute;
  width: 100% !important;
  height: auto !important;
  z-index: -1;
}

main {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;

  color: #fff6d5;
  font-family: sans-serif;
  text-align: center;
}

.logo {
  height: 20em;
}

.heart:after {
  content: "❤️";

  font-size: 1.75em;
}
